node_modules
*.log
dist/
coverage/
landkid-queue.*
/config.js
log.txt
.DS_Store
.cache-loader
db.sqlite
env
env.sh
.logs
cypress.env.json

# TODO remove once test suite is finished
cypress/integration/examples